.grid{
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		'header'
		'main'
		'footer';
}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
    height: fit-content;
    min-height: 56vh;
}

.footer{
    grid-area: footer;
}