.sliderContainer {
    max-width: 1200px;
    height: 700px;
    overflow: hidden;
  }
  
  .slider {
    width: 400%;
    animation: slide 50s infinite;
  }

  .sliderImage{
    width: 25%;
    height: auto;
    object-fit: cover;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-25%);
    }
    45% {
      transform: translateX(-25%);
    }
    50% {
      transform: translateX(-50%);
    }
    70% {
      transform: translateX(-50%);
    }
    75% {
      transform: translateX(-75%);
    }
    95% {
      transform: translateX(-75%);
    }
    100% {
      transform: translateX(0);
    }
  }
  