.headerTopArea{
    background: #252525;
    font-size: 14px;
    z-index: 99999;
    height: 150px;
}

.headerTopInfo{
    color: #fff;
    text-decoration: none;

    div{
        position: relative;
        margin-right: 40px;

        &:last-child{
            margin-right: 0;
        }
    }
}

.headerContact{
    left: -5%;
}
